<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Spacepope TV</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="script.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400italic' rel='stylesheet' type='text/css'>
  <link href="main.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <div id=title>
      <h1 id='title' contenteditable>Spacepope TV</h1>
    </div>
  </header>
  <content>
    <div>
      <div>

      </div>
    </div>
    <div class='loginForm'>
      <h4 class='loginTitle'>Login</h4>
      <h4 class='signupTitle link'><a href="#">Signup?</a></h4>
      <form method="POST" action='/login' autocomplete="off">
        <input name="email" class="loginBar" type="text" placeholder="Email"></input>
        <input name="password" class="passwordBar" type="password" placeholder="Password"></input>
        <input type='submit' value="Login" class="loginButton">
        <% if(error) { %>
        <p> <%= error %> </p>
        <% } %>
      </form>
    </div>
    <div class='signupForm'>
      <h4 class='loginTitle'>Sign Up</h4>
      <h4 class='loginTitle link'><a href="#">Login?</a></h4>
      <form method="POST" action='/signup' autocomplete="off">
        <input name="email" class="loginBar" type="text" placeholder="Email"></input>
        <input name="password" class="passwordBar" type="password" placeholder="Password"></input>
        <input type='submit' value="Signup" class="loginButton">
      </form>
    </div>
    <!--<div class="poem">
      <p class="intro"><span>First known scripture of His Blessed Holiness Spacepope</span></p>
      <hr>
      <br>
      <div class="poem-body">
        <p>Only when the last status message gets liked,</p>
        <p>the last Instagram photo posted,</p>
        <p>and the last Farmville farm is burned,</p>
        <p>you will notice</p>
        <p>that you can eat Facebook friends</p>
        <p><em>Orion 7:14</em></p>
      </div>
    </div>-->
  </content>
</body>

</html>